<div>
    <button mat-button>Click me!</button>
    <button mat-raised-button>Raised Button</button>
    <button mat-flat-button>Flat Button</button>
    <button mat-stroked-button>Stroked Button</button>
</div>

<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Mini Fab</button>
</div>

<div>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn" disableRipple>Warn</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
</div>